In [1]:
import pandas as pd
df = pd.read_csv('../data/processed/df_train_w_date_features.csv')
df.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,day,month,year,weekday,...,to_new_year_days,is_feb_special_time,feb_special_gaussian,from_feb_special_days,to_feb_special_days,is_nov_special_time,nov_special_gaussian,from_nov_special_days,to_nov_special_days,is_holiday
0,2013-01-02,0,59,22154,999.00,1.0,2,1,2013,2,...,363,False,0.0,314,51,False,0.0,88,277,False
1,2013-01-03,0,25,2552,899.00,1.0,3,1,2013,3,...,362,False,0.0,315,50,False,0.0,89,276,False
2,2013-01-05,0,25,2552,899.00,-1.0,5,1,2013,5,...,360,False,0.0,317,48,False,0.0,91,274,False
3,2013-01-06,0,25,2554,1709.05,1.0,6,1,2013,6,...,359,False,0.0,318,47,False,0.0,92,273,False
4,2013-01-15,0,25,2555,1099.00,1.0,15,1,2013,1,...,350,False,0.0,327,38,False,0.0,101,264,False

In [2]:
df.columns

Index(['date', 'date_block_num', 'shop_id', 'item_id', 'item_price',
       'item_cnt_day', 'day', 'month', 'year', 'weekday', 'days_passed',
       'is_new_year', 'new_year_gaussian', 'from_new_year_days',
       'to_new_year_days', 'is_feb_special_time', 'feb_special_gaussian',
       'from_feb_special_days', 'to_feb_special_days', 'is_nov_special_time',
       'nov_special_gaussian', 'from_nov_special_days', 'to_nov_special_days',
       'is_holiday'],
      dtype='object')