In [1]:
import pandas as pd 
df = pd.read_hdf('../data/processed/test/aggr_test.hdf')
df.head()

,ID,shop_id,item_id,year,month,item_name,item_category_id,item_category_name,big_category,date,...,count_aggr_2_quartals_ago_shop_id_item_category_id,count_aggr_1_month_shop_id_item_category_id,count_aggr_6_months_shop_id_item_category_id,count_aggr_1_month_ago_shop_id_item_category_id,count_aggr_year_shop_id_big_category,count_aggr_3_months_shop_id_big_category,count_aggr_2_quartals_ago_shop_id_big_category,count_aggr_1_month_shop_id_big_category,count_aggr_6_months_shop_id_big_category,count_aggr_1_month_ago_shop_id_big_category
0,0,5,5037,2015,11,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2015-11-01,...,181.0,75.0,531.0,110.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5100,4,5037,2015,11,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2015-11-01,...,134.0,34.0,309.0,53.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10200,6,5037,2015,11,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2015-11-01,...,178.0,54.0,403.0,79.0,0.0,0.0,0.0,0.0,0.0,0.0
3,15300,3,5037,2015,11,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2015-11-01,...,166.0,45.0,355.0,51.0,0.0,0.0,0.0,0.0,0.0,0.0
4,20400,2,5037,2015,11,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2015-11-01,...,197.0,70.0,546.0,111.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
df['item_id'].value_counts()

2047     42
19744    42
15406    42
13359    42
3240     42
1193     42
7338     42
11436    42
9389     42
21795    42
13231    42
13743    42
3624     42
1577     42
7722     42
5675     42
11948    42
16046    42
19488    42
15278    42
10029    42
4395     42
18464    42
2088     42
6186     42
8237     42
20643    42
8365     42
12463    42
12591    42
         ..
1492     42
11985    42
8528     42
16083    42
3797     42
7895     42
18140    42
20189    42
10064    42
16211    42
7255     42
13394    42
11345    42
13266    42
20830    42
8656     42
14803    42
6615     42
20958    42
12882    42
14931    42
4694     42
6743     42
16988    42
19037    42
21086    42
21214    42
17244    42
21342    42
2049     42
Name: item_id, Length: 5100, dtype: int64

In [4]:
df['item_id'].nunique()

5100

In [2]:
df['shop_id'].value_counts()

59    5100
16    5100
28    5100
26    5100
25    5100
24    5100
22    5100
21    5100
19    5100
18    5100
15    5100
58    5100
14    5100
12    5100
10    5100
7     5100
6     5100
5     5100
4     5100
3     5100
31    5100
34    5100
35    5100
36    5100
57    5100
56    5100
55    5100
53    5100
52    5100
50    5100
49    5100
48    5100
47    5100
46    5100
45    5100
44    5100
42    5100
41    5100
39    5100
38    5100
37    5100
2     5100
Name: shop_id, dtype: int64