## Data is splitted into validation and training set in two ways:
 * 2015 - 9 as a validation and all months before as a training 
 * 2015 - 10 as a validation and all months before as a training

In [26]:
import pandas as pd
from datetime import date
df_train_whole = pd.read_csv('../data/processed/df_train_w_date_features.csv',
                             keep_date_col=True, parse_dates=['date'])

def current_month(series, date):
    return (series.dt.year == date.year) & (series.dt.month == date.month)

case1_date = date(2015, 9, 1)
df_train1 = df_train_whole[df_train_whole['date'] < case1_date]
df_valid1 = df_train_whole[current_month(df_train_whole['date'], case1_date)]

case2_date = date(2015, 10, 1)
df_train2 = df_train_whole[df_train_whole['date'] < case2_date]
df_valid2 = df_train_whole[current_month(df_train_whole['date'], case2_date)]

df_train1.to_hdf('../data/processed/train/train_case1.hdf', 'tr_c1', mode='w')
df_train2.to_hdf('../data/processed/train/train_case2.hdf', 'tr_c2', mode='w')
df_valid1.to_hdf('../data/processed/validation/valid_case1.hdf', 'val_c1', mode='w')
df_valid2.to_hdf('../data/processed/validation/valid_case2.hdf', 'val_c2', mode='w')

In [8]:
print(df_train1.shape, df_valid1.shape)
print(df_train2.shape, df_valid2.shape)

(2831747, 24) (50588, 24)
(2882335, 24) (53514, 24)

In [14]:
df_train1.shape[0] + df_valid1.shape[0]

2882335

In [21]:
df_train1_hdf = pd.read_hdf('../data/processed/train/train_case1.hdf')
df_train1_hdf.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,day,month,year,weekday,...,to_new_year_days,is_feb_special_time,feb_special_gaussian,from_feb_special_days,to_feb_special_days,is_nov_special_time,nov_special_gaussian,from_nov_special_days,to_nov_special_days,is_holiday
0,2013-01-02,0,59,22154,999.00,1.0,2,1,2013,2,...,363,False,0.0,314,51,False,0.0,88,277,False
1,2013-01-03,0,25,2552,899.00,1.0,3,1,2013,3,...,362,False,0.0,315,50,False,0.0,89,276,False
2,2013-01-05,0,25,2552,899.00,-1.0,5,1,2013,5,...,360,False,0.0,317,48,False,0.0,91,274,False
3,2013-01-06,0,25,2554,1709.05,1.0,6,1,2013,6,...,359,False,0.0,318,47,False,0.0,92,273,False
4,2013-01-15,0,25,2555,1099.00,1.0,15,1,2013,1,...,350,False,0.0,327,38,False,0.0,101,264,False

In [25]:
(df_train1_hdf == df_train1).all().all()

True

In [27]:
df_train2_hdf = pd.read_hdf('../data/processed/train/train_case2.hdf')
df_train2_hdf.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,day,month,year,weekday,...,to_new_year_days,is_feb_special_time,feb_special_gaussian,from_feb_special_days,to_feb_special_days,is_nov_special_time,nov_special_gaussian,from_nov_special_days,to_nov_special_days,is_holiday
0,2013-01-02,0,59,22154,999.00,1.0,2,1,2013,2,...,363,False,0.0,314,51,False,0.0,88,277,False
1,2013-01-03,0,25,2552,899.00,1.0,3,1,2013,3,...,362,False,0.0,315,50,False,0.0,89,276,False
2,2013-01-05,0,25,2552,899.00,-1.0,5,1,2013,5,...,360,False,0.0,317,48,False,0.0,91,274,False
3,2013-01-06,0,25,2554,1709.05,1.0,6,1,2013,6,...,359,False,0.0,318,47,False,0.0,92,273,False
4,2013-01-15,0,25,2555,1099.00,1.0,15,1,2013,1,...,350,False,0.0,327,38,False,0.0,101,264,False