In [1]:
import pandas as pd
df = pd.read_hdf('../data/processed/train/total.hdf')
df.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,day,month,year,weekday,...,to_new_year_days,is_feb_special_time,feb_special_gaussian,from_feb_special_days,to_feb_special_days,is_nov_special_time,nov_special_gaussian,from_nov_special_days,to_nov_special_days,is_holiday
2882335,2015-10-23,33,45,13315,649.0,1.0,23,10,2015,4,...,69,False,0.0,243,122,False,1.755688e-63,17,348,False
2882336,2015-10-05,33,45,13880,229.0,1.0,5,10,2015,0,...,87,False,0.0,225,140,True,0.000000e+00,364,1,False
2882337,2015-10-02,33,45,13881,659.0,1.0,2,10,2015,4,...,90,False,0.0,222,143,False,0.000000e+00,361,4,False
2882338,2015-10-12,33,45,13881,659.0,1.0,12,10,2015,0,...,80,False,0.0,232,133,False,1.522998e-08,6,359,False
2882339,2015-10-04,33,45,13923,169.0,1.0,4,10,2015,6,...,88,False,0.0,224,141,True,0.000000e+00,363,2,False

In [ ]:
from itertools import product
product(df['shop_id'].unique(), df['item_id'].unique())

In [3]:
df['shop_id'].nunique()

60

In [8]:
df = pd.read_hdf('../data/processed/test/test.hdf')
df['month'] = 10
df.to_hdf('../data/processed/validation/valid.hdf', 'valid_10')